<a href="https://colab.research.google.com/github/daniel27a/missp/blob/main/podstawy_python_jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# komentarz

# if

wielkosc = 7

print(wielkosc)

7

In [ ]:
if wielkosc >6:
    print("ale duze")
elif wielkosc < 3:
    print("malutkie")
    print('franek')
else:
    print("w sam raz")

ale duze

In [ ]:
studenci = ["Ania", "Zosia", "Kasia", "Franek"]

print(studenci)

['Ania', 'Zosia', 'Kasia', 'Franek']

In [ ]:
studenci[0],studenci[1]

('Ania', 'Zosia')

In [ ]:
for student in studenci:
    print("studenciak ma na imie:", student)
    
for student in studenci:
    print(student)
    if student[0]=="A":
        print("student na poczatku alfabetu")

studenciak ma na imie: Ania
studenciak ma na imie: Zosia
studenciak ma na imie: Kasia
studenciak ma na imie: Franek
Ania
student na poczatku alfabetu
Zosia
Kasia
Franek

In [ ]:
for numer, student in enumerate(studenci):
    print("student {} ma numer {}".format(student,numer))

student Ania ma numer 0
student Zosia ma numer 1
student Kasia ma numer 2
student Franek ma numer 3

In [ ]:
oceny = [2,2,5,3]

for numer, student in enumerate(studenci):
    print("student {} ma numer {} i ocenę {}".format(student,numer,oceny[numer]))

print("--"*20)    
for number, (student, ocena) in enumerate(zip(studenci,oceny)):
    print("student {} ma numer {} i ocenę {}".format(student,number,ocena))

student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3
----------------------------------------
student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3

In [ ]:
trzy_elementy= [1,2,3]
pierwszy,drugi,trzeci= trzy_elementy
print (pierwszy)
print (drugi)
print (trzeci)

1
2
3

In [ ]:
n = 1

while(n < 10):
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

In [ ]:
def dodaj_dwa(liczba):
    return liczba+2

def dodaj_trzy(liczba):
    return liczba+3

def dodaj_dwie_liczby(liczba1,liczba2)
    return liczba1+liczba2


dodaj_cztery = lambda liczba:liczba+4

In [ ]:
funkcje=[dodaj_dwa,dodaj_trzy,dodaj_cztery]

jakis_nr= 10

for funkcja in funkcje:
    print(funkcja(jakis_nr))

12
13
14

In [ ]:
studenci[0]
studenci[1:]
studenci[:-1]

['Ania', 'Zosia', 'Kasia']

In [ ]:
#### challenge 0.1

zajecia = ["wf","informatyka","relax","mispy","piateczek"]

dnityg= ["Pon","Wto","Sro","Czwar","Pio"]

# wyprintuj zajecia od srody do piatku
print (zajecia[2:])
# wyprintuj oprocz srody
for dzien, dzien_tygodnia in enumerate(dnityg):
  if (dzien !=2):
    print(zajecia[dzien])

['relax', 'mispy', 'piateczek']
wf
informatyka
mispy
piateczek

In [ ]:
#### challenge 0.2
 
zajecia = [["wf"],
           ["informatyka", "nauka czytania"],
           ["relax", "jedzenie"],
           ["mispy","mispy w domu"],
           ["piateczek", "praca domowa z mispow", "Ilovemispy", "mispy w czasie snu"]
          ]
 
dnityg= ["Pon","Wto","Sro","Czwar","Pio"]
 
# zdefiniuj funkcje ktora poda ile jest zajec danego dnia
def func_ile_zajec (lista_zajec_z_dnia):  #zdefiniowanie funkcji która za argument przyjmuje listę zajęć z danego dnia
    return len(lista_zajec_z_dnia)        #funkcja zwraca ilości zajęć w danym dniu
 
# lista_zajec_z_dnia -> ile ich jest
for i in range(len(dnityg)): 
    print(dnityg[i],func_ile_zajec(zajecia[i])) #wypisanie dni tygodnia i ilości zajeć w każdym dniu

print()
print()
# po
# posortuj dni po najbardziej zajetych

# def sortuj_wg_ilosci_zajec(dnityg, zajecia):
#   for j in range(len(dnityg)):
#     for i in range(len(dnityg) - 1):
#       if len(zajecia[i]) < len(zajecia[i+1]):                     #liczy ilość zajęć danego dnia i dnia następnego i sprawdza nierówność
#         dnityg[i], dnityg[i+1] = dnityg[i+1], dnityg[i]           #zamienia miejscami dni tygodnia 
#         zajecia[i], zajecia[i+1] = zajecia[i+1], zajecia[i]       #i elementy w tablicy zajecia
#   return dnityg

def sortuj_wg_funkcji(dnityg, zajecia, funkcja_porownujaca):
  # for j, i in range(len(dnityg)), range(len(dnityg) - 1):
  for j in range(len(dnityg)):
    for i in range(len(dnityg) - 1):
      if funkcja_porownujaca(zajecia[i]) < funkcja_porownujaca(zajecia[i+1]):       #podstawia zajecia[i] do przekazanej funkcji porównującej i sprawdza nierówność
        dnityg[i], dnityg[i+1] = dnityg[i+1], dnityg[i]                             #zamienia miejscami dni tygodnia 
        zajecia[i], zajecia[i+1] = zajecia[i+1], zajecia[i]                         #i elementy w tablicy zajecia
  return dnityg

print(sortuj_wg_funkcji(dnityg, zajecia, len))
print()
print()

#### challenge 0.3
# napisz program ktory zdajdzie dzien z najwieksza iloscia mispow
def licz_mispy(dzien):
  licznik = 0
  for i in range(len(dzien)):
    if 'misp' in dzien[i]:
      licznik += 1
  return licznik

# def sortuj_wg_mispow(dnityg, zajecia):
# for j in range(len(dnityg)):
#   for i in range(len(dnityg) - 1):
#     if licz_mispy(zajecia[i]) < licz_mispy(zajecia[i+1]):       #liczy ilość wystąpień mispów danego dnia i dnia następnego i sprawdza nierówność
#       dnityg[i], dnityg[i+1] = dnityg[i+1], dnityg[i]           #zamienia miejscami dni tygodnia 
#       zajecia[i], zajecia[i+1] = zajecia[i+1], zajecia[i]       #i elementy w tablicy zajecia
# return dnityg

print("Dzien z największą ilością mispów:", sortuj_wg_funkcji(dnityg, zajecia, licz_mispy)[0])

Pon 1
Wto 2
Sro 2
Czwar 2
Pio 4


['Pio', 'Wto', 'Sro', 'Czwar', 'Pon']


Dzien z największą ilością mispów: Pio

In [ ]:
len(zajecia)

zajecia[4][1]

"Ma" in "MojaMaMa"

liczby=["22","11","33","100"]
liczby_i_nazwy= [("22","dwadziescia dwa"),
                 ("11","jedenascie"),
        ("33","trzydziesci trzy"),("100","sto")]
sorted(liczby)

print(sorted(liczby, key=int))

liczby_kolejnosc= enumerate(liczby)

def czy_jest_jeden(liczba):

    if "1" in liczba:
        return 1
    else:
        return 0
def na_liczbe(krotka):
         return int(krotka[0])
def na_liczbe_index(krotka):
         return int(krotka[1])    
sorted(liczby, key=czy_jest_jeden)
         
sorted(liczby_i_nazwy,key=na_liczbe)

sorted(liczby_kolejnosc,key=na_liczbe_index)

['11', '22', '33', '100']

[(1, '11'), (0, '22'), (2, '33'), (3, '100')]

In [ ]:
sorted(liczby_kolejnosc,key=)